* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* ABOUT */

.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: grey;
}
.about .image{
    margin: 30px;
}
.about .image img {
    height: 450px;
    width: 350px;
    border-radius: 30px;
    object-fit: cover;
    max-width: 100%;
}

.about .det {
    margin: 30px;
}

.about .det h2 {
    padding-bottom: 30px;
    line-height: 35px;
}

.about .det p {
    padding-bottom: 30px;
    line-height: 25px;
}

.about .det button {
    height: 50px;
    width: 120px;
    border: none;
    transition: .5s all ease;
    border-radius: 50px;
}

.about .det button:hover {
    background-color:black;
    color: white;
}


/* --------------------------------------media query----------------------------------------- */


@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .about .det {
        margin: 20px;
    }
}

@media (max-width: 768px) {
    .about .det {
        margin: 20px;
    }
}
@media (max-width: 600px) {
   
    
}

